# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

build/
tester/
.vscode/
.idea
.eggs

# Ignore python bytecodes
dist/

*.pyc
*.pyo
*.pyd

*.egg-info/
__pycache__/
.installed.cfg
*.egg
